#search-results {
    .results {
        flex-grow: 1;

        .status {
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            
            span {
                font-size: 1.4em;
            }
        }

        .result-group {
            flex-direction: column;

            > .title {
                margin: 0.5em;
        
                h4 {
                    margin: 0;
                    font-weight: 400;
                    font-size: 1.15em;
                }
            }

            .result {
                @extend .small-box;
                flex: 25%;
            }
        }
    }
}
