.overview {
	flex-direction: column;
	flex-grow: 1;

	.top {
		padding: 1em;
		border-bottom: 2px solid $primary_element_background;
		justify-content: space-between;
		align-items: center;

		.title {
			justify-content: space-between;
			align-items: center;

			h2 {
				font-weight: 400;
				font-size: 1.4em;
				margin: 0;
			}

			.description {
				color: #7a868c;
				margin: 0 0.5em;
			}
		}

		.info {
			span {
				margin: 0 0.5em;

				i {
					margin: 0 0.15em;
				}
			}
		}

		.options {
			a.item {
				padding: 0.15em;
				margin: 0 0.15em;

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}

	.content {
		//flex-direction: column;
		margin: 1em 0;
		flex-grow: 1;
		//flex-shrink: 0;
	}

	.option {
		padding: 1em 2em;
		margin: 0.25em;
		border: 1px solid $bcn_light_orange;

		.toolbar {
			justify-content: flex-end;

			a.item {
				@extend .link-underline;
				font-weight: 400;
				padding: 0.1em;
				margin: 0 0.25em;
				//font-size: 0.9em;
			}
		}

		> .title {
			justify-content: space-between;
			align-items: center;
			padding-bottom: 0.75em;
			border-bottom: 1px solid rgba($primary_element_background, 0.4);

			h3 {
				font-weight: 400;
				font-size: 1.15em;
			}

			h4 {
				font-size: 0.95em;
				font-weight: 300;
			}

			span {
				color: #52595e;
				font-size: 0.9em;
			}
		}

		.summary {
			padding: 0.25em;
		}
	}

	.statistics {
		background: $primary_element_background;
		padding: 1em;
		margin: 1em 4em;
		justify-content: space-around;
		box-shadow: $primary_element_box_shadow;
		color: $secondary_font_colour;
		font-size: 1.2em;

		@media screen and (max-width: 39.9375em) {
			margin: 1em 0;
		}
	}

	.statistics-stacked {
		background: $primary_element_background;
		padding: 1em;
		margin: 1em 4em;
		justify-content: center;
		text-align: center;
		box-shadow: $primary_element_box_shadow;
		color: $secondary_font_colour;
		font-size: 1.2em;

		h4 {
			font-weight: 400;
		}

		@media screen and (max-width: 39.9375em) {
			margin: 1em 0;
		}
	}

	.details {
		flex-direction: column;
		//justify-content: center;
		padding: 1em;
		margin: 1em 4em;

		@media screen and (max-width: 39.9375em) {
			margin: 1em 0;
		}

		h4 {
			font-weight: 400;
			//text-decoration: underline;
			font-size: 1.4em;
		}

		p {
			margin: 0;
			font-size: 1.2em;
		}
	}

	.navigation {
		flex-direction: column;
		font-family: $secondary_font;
		background: rgba($primary_element_background, 0.05);

		.nav-group {
			flex-direction: column;
			margin: 1em 0;
		}

		.sub-group {
			flex-direction: column;
			margin: 0 0.75em 0 1.25em;

			.item:before {
				content: "-";
				padding-right: 0.5em;
			}
		}

		.active {
			span {
				text-decoration: underline;
			}
		}

		.item {
			padding: 0.6em 0.8em;
			white-space: nowrap;

			&:hover:not(.active) {
				span {
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}
}

.subject-overview {
	//flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: flex-start;

	.subject-container {
		background: $primary_element_background;
		flex-direction: column;
		color: $secondary_font_colour;
		padding: 2.5em;
	}

	.subject-title {
		padding: 1.5em;
		align-items: center;

		i {
			font-size: 3em;
			padding: 0.25em;
			border-right: 2px solid white;
		}

		h2 {
			margin: 0;
			font-weight: 400;
			font-size: 2.5em;
			padding: 0 0.75em;
		}
	}

	.subject-description {
		padding: 0 1.5em;

		p {
			font-size: 1.4em;
		}
	}

	.subject-navigation {
		margin: 0 1.5em;
		min-width: 8em;
		flex-direction: column;
		font-family: $secondary_font;
		background: rgba($primary_element_background, 0.05);

		.nav-group {
			flex-direction: column;
			margin: 2em 0;
		}

		.item {
			padding: 1em;

			&:hover:not(.active) {
				cursor: pointer;
				text-decoration: underline;
			}
		}

		.active {
			text-decoration: underline;
		}
	}
}