.shortcut-button {
	padding: 0.5em 1.5em;
	background: $primary_element_background;
	color: $secondary_font_colour;
	display: flex;
	align-items: center;
	margin: 0 0.5em;
	box-shadow: $primary_element_box_shadow;
	min-width: 0;

	&:hover {
		cursor: pointer;
		background: $primary_element_background_hover;
	}

	@media screen and (max-width: 39.9375em) {
		margin: 0.2em 0;
	}

	i {
		font-size: 2em;
		color: $bcn_light_orange;
		margin-right: 0.5em;
		padding: 0.4em 0.4em 0.4em 0;
		border-right: 1px solid white;
		line-height: 0;

		@media screen and (max-width: 39.9375em) {
			font-size: 1em;
		}

		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			font-size: 1.2em;
		}

		@media screen and (min-width: 64em) and (max-width: 104.9375em) {
			font-size: 1.4em;
		}
	}

	p {
		font-size: 1.25em;
		padding: 0.4em;

		@media screen and (max-width: 39.9375em) {
			font-size: 1em;
		}

		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			font-size: 1em;
		}

		@media screen and (min-width: 64em) and (max-width: 104.9375em) {
			font-size: 1.1em;
		}
	}
}

.outline-button {
	display: flex;
	margin: 9.2px;
	padding: 0.5em 1em;
	align-items: center;
	background: #fafafa;
	font-weight: 400;
	border: 2px solid #a9b5c0;

	&:hover {
		cursor: pointer;
	}
}

.button-passive {
	margin: 0.75em;
	padding: 0.75em;
	color: white;
	border: 2px solid darken($secondary_element_colour, 10%);
	background: darken($secondary_element_colour, 5%);
	text-shadow: 0 0 1px rgba($primary_font_colour, 0.15);
	font-weight: 400;

	&.no-left-margin {
		margin-left: 0;
	}

	&:hover {
		cursor: pointer;
		background: $secondary_element_colour;
	}
}

.button-action {
	margin: 0.75em;
	padding: 0.75em;
	color: white;
	border: 2px solid $border_color;
	background: $bcn_light_orange;
	text-shadow: 0 0 1px rgba($primary_font_colour, 0.15);
	font-weight: 400;
	cursor: pointer;
}

.button-submit {
	margin: 0.75em;
	padding: 0.75em;
	color: white;
	border: 2px solid darken($success_green, 5%);
	background: $success_green;
	text-shadow: 0 0 1px rgba($primary_font_colour, 0.15);
	font-weight: 400;

	&.disabled {
		border: 2px solid #b4b4b4;
		background: #d8d8d8;

		&:hover {
			cursor: not-allowed;
			background: #d8d8d8;
		}
	}

	&:hover {
		cursor: pointer;
		background: lighten($success_green, 5%);
	}
}
