#app {
    flex-direction: column;
    min-height: 100vh;
}

.flex-container {
    display: flex;
}

.group-list-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#group-students-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1em;
}

.result-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.student-list-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.create-student-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background: $border_color;
    
    h1 {
        font-size: 2.5em;
        margin: 0;
        color: $success_green;
        text-align: center;
    }
}

.student-box {
    border: 2px solid $border_color;
    margin: 0.5em;
    height: 100%;

    figure {
        display: flex;
        flex-direction: row;
        justify-content: center;

        background: $border_color;
        padding: 1em 1.25em;
        margin: 0 0.25em 0 0;

        img {
            height: 100%;
        }
    }

    .info {
        justify-content: space-around;

        .title {
            padding: 1em;

            h3 {
                margin: 0 0 0.2em;
                font-weight: 400;
                font-size: 1.5em;
            }

            h4.username {
                font-weight: 300;
                margin: 0;
                color: $primary_font_colour_faded;
            }
        }

        a {
            padding: 1em;
            @extend .link-underline;
            font-weight: 400;
        }

        span {
            padding: 1em;

            &.tick {
                color: green;
            }
        }
    }
}

.clickable-box-link {
	cursor: pointer;
	margin-bottom: 1.0em;
}

.small-box.owned {
    border-left: 4px solid $bcn_light_orange;
}

.small-box {
    display: flex;
    border: 2px solid $border_color;
    margin: 0.5em;
    padding: 1em 2em;
    justify-content: space-between;
    height: 100%;

    border-left: 4px solid $border_color;

    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .title {
        flex-direction: column;
        justify-content: center;
    }

    > .title {
        p {
            margin: 0;
        }

        h3 {
            margin: 0;
            font-weight: 400;
            font-size: 1.2em;
        }

        h4 {
            font-weight: 300;
            margin: 0;
            color: $primary_font_colour_faded;
        }
    }

    a {
        @extend .link-underline;
    }
}

.create-group-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $border_color;

    h2 {
        margin: 0;
        color: $success_green;
        text-align: center;
    }
}

.plans-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .status {
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        span {
            font-size: 1.4em;
        }
    }
}

.glp-box.owned {
    border-top: 4px solid $bcn_light_orange;
}

.glp-box {
    margin: 0.5em;
    border: 2px solid $border_color;

    .toolbar {
        display: flex;
        justify-content: space-between;
        width: 100%;

        a.item {
            @extend .link-underline;
            padding: 0.1em;
            margin: 0 0.15em;
            font-weight: 400;
            //font-size: 0.9em;
        }
    }

    .title {
        padding: 0.9em;
        background: $border_color;

        .full-width {
            width: 100%;
        }
    }

    > .title {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.25em;

        h3 {
            font-weight: bold;
            font-size: 1.25em;
            margin: 0.25em;
        }

        .owner {
            margin: 0.25em;
        }

        h4 {
            font-weight: 400;
            font-size: 1.15em;
            margin: 0.25em;
        }
    }

    > .content {
        padding: 0.9em;
        justify-content: space-between;

        .topic, .domain, .created, .modified {
            flex-direction: column;

            p {
                margin-left: 0.25em;
            }
        }

        .link-underline {
            margin-left: 0.25em;
        }

        strong {
            font-weight: 400;
        }

        figure {
            margin-left: 0;

            img {
                border-radius: 50%;
                padding: 0.25em;
                width: 8em;
                height: 8em;

                @media screen and (min-width: 64em) and (max-width: 104.9375em) {
                    width: 7em;
                    height: 7em;
                }

                @media screen and (min-width: 40em) and (max-width: 63.9375em) {
                    width: 6em;
                    height: 6em;
                }

                @media screen and (max-width: 39.9375em) {
                    width: 5em;
                    height: 5em;
                }
            }
        }
    }
}

.create-plan-link {
    display: flex;
}

.create-glp-card {
    background: #f5f5f5;
    justify-content: space-around;

    > .content {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            margin: 0;
            padding: 0;
            font-size: 4em;
            color: #72a16d;
        }
    }
}
