.sort {
    padding-left: 1em;

	.header {
        span {
            font-size: 1.2em;
        }
    }

    .sort-group {
        margin: 1em 0;
        flex-direction: column;

        > .title {
            margin-bottom: 0.4em;
            padding-bottom: 0.2em;

            span {
                font-weight: 400;
                white-space: nowrap;
            }
        }

        > .content {
            flex-direction: column;
            padding: 0 0.1em;

            .sort-option {
                padding: 0.25em 0.4em;
                margin: 0.1em 0;
                white-space: nowrap;

                &.active {
                    border-bottom: 4px solid $bcn_light_orange;
                    font-weight: 400;

                    &:hover {
                        border-bottom: 4px solid $bcn_light_orange;
                    }
                }

                &:hover {
                    border-bottom: 1.5px solid $bcn_light_orange;
                    cursor: pointer;
                }
            }
        }
    }
}
