.status-message {
    position: fixed;
    padding: 1em;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    // text-shadow: 0 0 1px #353535;
    color: white;
    width: 15em;
    max-width: 15em;

    &.success {
        border: 2px solid $success_green_border;
        border-top: none;
        background: $success_green;
    }

    &.info {
        border: 2px solid $neutral_blue_border;
        border-top: none;
        background: $neutral_blue;
    }

    &.error {
        border: 2px solid $error_red_border;
        border-top: none;
        background: $error_red;
    }

    strong {
        font-weight: 400;
    }

    i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.1em;
        font-size: 0.8em;

        &:hover {
            cursor: pointer;
        }
    }
}
