// font colours
$primary_font_colour: #1b2126;
$secondary_font_colour: white;

$primary_font_colour_faded: #58636c;

//backgrounds
$primary_element_background: #2c353e;
$primary_element_background_hover: #38424c;
$secondary_element_colour: #3b4f61;

// colours
$bcn_light_orange: #e87f62;
