#teacher-profile-info {
    // justify-content: center;

    .profile-card {
        margin-bottom: 2em;
        padding: 0.5em;
        
        img {
            height: 8em;
            width: 8em;

            @include for-phone-only {
                height: 10em;
                width: 10em;
            }
        }

        .teacher-profile-info {
            margin-left: 1em;
        }

        figcaption {
            margin: 1em;
            font-size: 2em;
            font-weight: 400;

            @include for-phone-only {
                font-size: 1.5em;
            }
        }
    }
}
