<div class="tile flex-column flex-2">
    <div class="title">
        <p>Your Recent Activities</p>
    </div>
    <div class="content">
        <div id="recent-activity">
            <div class="activity">
                <div class="info">
                    <p>Assigned new lesson plan: <a class="link-underline">Algebra Beginnings</a></p>
                </div>
                <div class="time">
                    <p>12:54</p>
                </div>
            </div>
            <div class="activity">
                <div class="info">
                    <p>Assigned new lesson plan: <a class="link-underline">First steps to Engineering</a></p>
                </div>
                <div class="time">
                    <p title="13:50">Tues</p>
                </div>
            </div>
            <div class="activity">
                <div class="info">
                    <p>Assigned new lesson plan: <a class="link-underline">Advanced Masonary</a></p>
                </div>
                <div class="time">
                    <p title="17:02">03/06</p>
                </div>
            </div>
        </div>
    </div>
</div>
