#mission-edit {
	flex-direction: column;
	flex-grow: 1;

	.mission-top {
		padding: 1em;
		border-bottom: 2px solid $primary_element_background;
		justify-content: space-between;
		align-items: center;

		.mission-title {
			justify-content: space-between;
			align-items: center;

			h2 {
				font-weight: 400;
				font-size: 1.4em;
				margin: 0;
			}

			.mission-description, .quest-description {
				color: #7a868c;
				margin: 0 0.5em;
			}
		}

		.mission-info {
			span {
				margin: 0 0.5em;

				i {
					margin: 0 0.15em;
				}
			}
		}

		.mission-options {
			a.item {
				padding: 0.15em;
				margin: 0 0.15em;

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}

	> .content {
		margin: 1em 0;
		flex-grow: 1;
	}

	.quest-options {
		flex-direction: column;

		.quest {
			justify-content: space-between;
			align-items: center;

			.quest-info {
				flex-direction: column;
				padding: 1em;

				span {
					margin: 0.05em 1em;
				}

				.quest-name {
					color: #afb7bb;
				}
			}

			.options {
				padding: 1em;

				i {
					font-size: 1.2em;

					&:hover {
						cursor: pointer;
						color: $bcn_light_orange;
					}
				}

				.warning {
					color: $primary_font_colour;

					&:hover {
						cursor: pointer;
						color: #ff4343;
					}
				}
			}
		}

		.toolbar {
			justify-content: flex-end;
			padding: 1em;

			.item {
				padding: 0.75em;
				color: white;
				background: darken($bcn_light_orange, 10%);
				text-shadow: 0 0 1px rgba($primary_font_colour, 0.15);

				&:hover {
					cursor: pointer;
					background: $bcn_light_orange;
				}
			}
		}
	}
}