.flashing {
	animation-name: flash;
	 animation-duration: 0.2s;
	 animation-timing-function: linear;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-play-state: running;
 }
 
 @keyframes flash {
	 from {color: red;}
	 to {color: black;}
 }
 
 .blinking {
   -moz-animation-duration: 400ms;
   -moz-animation-name: blink;
   -moz-animation-iteration-count: infinite;
   -moz-animation-direction: alternate;
   
   -webkit-animation-duration: 400ms;
   -webkit-animation-name: blink;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
   
   animation-duration: 400ms;
   animation-name: blink;
   animation-iteration-count: infinite;
   animation-direction: alternate;
 }
 
 @-moz-keyframes blink {
   from {
	 opacity: 1;
   }
   
   to {
	 opacity: 0;
   }
 }
 
 @-webkit-keyframes blink {
   from {
	 opacity: 1;
   }
   
   to {
	 opacity: 0;
   }
 }
 
 @keyframes blink {
   from {
	 opacity: 1;
   }
   
   to {
	 opacity: 0;
   }
 }