/*Buttons of size text*/
.small{
    font-size:12pt;
}

.normal{
    font-size:18pt;
}

.medium{
    font-size:24pt;
}

.big{
    font-size:36pt;
}


/*Buttons of type text*/
.calibri{
    font-family: Calibri, sans-serif;
}

.arial{
    font-family: Arial, sans-serif;
}

.arialb{
    font-family: "Arial Black", sans-serif;
}

.comics{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.verdana{
    font-family: Verdana, sans-serif;
}

.tahoma{
    font-family: Tahoma, sans-serif;
}

.trebuchet{
    font-family: "Trebuchet MS", sans-serif;
}

.georgia{
    font-family: Georgia, serif;
}

/*Buttons of contrast*/
.normalcontrast{
    background-color: white;
    color: blue;
    padding: 8% 16%;
}

.whiteblackcontrast{
    background-color: white;
    color: black;
    padding: 8% 16%;
}

.blackwhitecontrast{
    background-color: black;
    color: white;
    padding: 8% 16%;
}

.blackyellowcontraste{
    background-color: black;
    color: yellow;
    padding: 8% 16%;
}

.yellowblackcontraste{
    background-color: yellow;
    color: black;
    padding: 8% 16%;
}

.show {
	display: block;
}