.breadcrumb {
	align-items: center;
	margin: 0.5em 0;
	flex-wrap: wrap;

	.current {
		padding: 0.15em;
		margin: 0 0.15em;
		display: flex;
		align-items: center;
	}

	.crumb {
		@extend .current;

		&:hover {
			span {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		&:after {
			content: ">";
			padding-left: 0.5em;
			color: $bcn_light_orange;
			font-size: 1.25em;
		}

		&:first-child {
			margin: 0 0.15em 0 0;
			padding: 0.15em 0.15em 0.15em 0;
		}
	}
}
