.loading-container {
    width: 100%;
    height: 0;
    position: relative;
    justify-content: center;

    .loading {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: absolute;
        background: rgba(white, 0.75);
        border: 1px solid rgba($bcn-light-orange, 0.7);
        box-shadow: 0 1px 1px rgba($primary_element_background, 0.5);
        padding: 1em 2em;
        top: 2em;

        img {
            width: 5em;
        }
        
        span {
            padding: 0.5em;
            font-weight: 300;
            font-style: italic;
        }
    }
}
