.search {
	align-items: center;
	position: relative;

	input {
		padding: 0.75em 0.75em 0.75em 2.5em;
		margin: 0.5em;
		outline: none;
		border: none;
		border: 1px solid $bcn_light_orange;
		background: white;
		background: transparent;
		font-size: 1.15em;

		&:focus {
			outline: 1px solid $bcn_light_orange;
		}
	}

	i {
		top: 0;
		position: absolute;
		font-size: 1.25em;
		margin: 1.25em 1em;
	}

	.search-error {
		font-size: 0.85em;
		white-space: nowrap;
		top: 0;
		right: 0;
		position: absolute;
		margin: 2em;
		background: white;
		font-weight: 400;
		color: #c62828;
		visibility: hidden;

		&.show {
			visibility: visible;
		}
	}
}
