#sort {
	//padding: 0.25em;
	font-size: 1.1em;
	color: #52595e;
	align-items: center;

	> .title {
		flex: none;
		padding: 0.5em;
	}

	.options {
		flex-wrap: wrap;
		align-items: center;

		a {
			display: inherit;
			align-items: center;
			padding: 0.5em;

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		label {
			flex: none;
			display: inherit;
			align-items: center;
			padding: 0.5em;
			margin: 0 0.25em;
		}

		input, select {
			margin: 0 0.5em;
			padding: 0.25em;
			background: none;
		}

		input {
			outline: none;
			border: none;
			border-bottom: 1px solid $bcn_light_orange;

			&:focus {
				border-bottom: 2px solid $bcn_light_orange;
			}
		}

		select {
			outline: none;
			border: none;
			border-bottom: 1px solid $bcn_light_orange;

			&:focus {
				border-bottom: 2px solid $bcn_light_orange;
			}
		}
	}
}