.tile {
	flex-grow: 1;
	margin: 0 0.5em;

	@media screen and (max-width: 39.9375em) {
		margin: 0.25em 0;
	}

	> .title {
		padding: 0.75em 1em;
		background: $primary_element_background;
		box-shadow: 0 0 1px rgba(white, 0.75) inset;
		border-bottom: 1px solid #a9b5c0;
		color: $secondary_font_colour;
		font-size: 1.2em;
		letter-spacing: 1px;
		display: flex;
		justify-content: space-between;
		flex-shrink: 1;

		p {
			margin: 0;
		}

		i {
			color: $bcn_light_orange;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.content {
		padding: 0.5em;
		background: $secondary_element_colour;
		color: $secondary_font_colour;
		flex-grow: 1;

		.content-title {
			padding: 1.5em 0.25em;

			h3 {
				font-weight: 300;
				//text-decoration: underline;
				text-align: center;
				font-size: 1.25em;
				margin: 0;
			}
		}
	}

	&.spacing {
		margin: 0.5em;

		@media screen and (max-width: 39.9375em) {
			margin: 0.25em;
		}
	}
}
