// profile colours
.profile-green {
	background: #4a924e;
}

.profile-red {
	background: #924a4a;
}

.profile-blue {
	background: #4a6e92;
}

// status colours
.status-green {
	background: #55a91a;
}

.status-yellow-green {
	background: #90a91a;
}

.status-amber {
	background: #c8a021;
}

.status-red {
	background: #c82121;
}

// generic colours
.green {
	color: #55a91a;
}

.yellow-green {
	color: #90a91a;
}

.amber {
	color: #c8a021;
}

.red {
	color: #c82121;
}

// status colours
.warning {
	color: #ff4343;
}