<div class="tile flex-column flex-2">
    <div class="title">
        <p>Active Lesson Plans</p>
        <a href="./lesson_manager/">
            <i class="icon-link-ext-alt" title="View Active Lesson Plans" aria-hidden="true"></i>
        </a>
    </div>
    <div class="content">
        <div id="active-plan-summary">
            <div class="plan">
                <div class="image">
                    <img src="dist/beaconing/images/quest-image.jpg" alt="Algebra Beginnings">
                </div>
                <div class="info">
                    <div class="name">
                        <p>Algebra Beginnings</p>
                    </div>
                </div>
            </div>
            <div class="plan">
                <div class="image">
                    <img src="dist/beaconing/images/quest-image.jpg" alt="First steps to Engineering">
                </div>
                <div class="info">
                    <div class="name">
                        <p>First steps to Engineering</p>
                    </div>
                </div>
            </div>
            <div class="plan">
                <div class="image">
                    <img src="dist/beaconing/images/quest-image.jpg" alt="Advanced Masonary">
                </div>
                <div class="info">
                    <div class="name">
                        <p>Advanced Masonary</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
