<div class="tile flex-column">
    <div class="title">
        <p>Student Overview</p>
        <a href="./classroom/">
            <i class="icon-link-ext-alt" title="View Students" aria-hidden="true"></i>
        </a>
    </div>
    <div class="content">
        <div id="student-overview">
            <div class="sorting">
                <div class="sort-menu">
                    Class: 
                    <a class="active">11b</a>
                    <a>13a</a>
                </div>
                <div class="sort-menu">
                    Sort By: 
                    <a>This Week</a>
                    <a class="active">This Month</a>
                    <a>This Year</a>
                </div>
            </div>
            <div class="flex-container">
              <div class="student-section">
                <div class="title">
                  <h3>Best Performing</h3>
                </div>
                <div class="students">
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-green" style="width: 96%;"><span>96%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-green" style="width: 94%;"><span>94%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-green" style="width: 91%;"><span>91%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="student-section">
                <div class="title">
                  <h3>Needs Attention</h3>
                </div>
                <div class="students">
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-red" style="width: 30%;"><span>30%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-red" style="width: 28%;"><span>28%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-red" style="width: 20%;"><span>20%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="student-section">
                <div class="title">
                  <h3>Most Improvement</h3>
                </div>
                <div class="students">
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-amber" style="width: 75%;"><span>75%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-amber" style="width: 70%;"><span>70%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="student">
                    <div class="flex-container tablet-hide">
                      <div class="student-profile-image"><img class="profile-blue" src="dist/images/profile.png" alt="Example Student"/></div>
                    </div>
                    <div class="flex-container flex-column flex-spacearound flex-grow">
                      <div class="student-name">
                        <p>Example Student</p>
                      </div>
                      <div class="student-percentage">
                        <p>Overall Percentage:</p>
                        <div class="progress-bar">
                          <div class="status-amber" style="width: 53%;"><span>53%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
