.counter-header {
    display: flex;
    color: white;
    font-size: 2.2em;
    margin: 0;
    grid-area: counter-number;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--monospace-font);
}
