.student-box {
    border: 1px solid $bcn-light-orange;
    padding: 1em;
    flex: 25%;
    margin: 1em;

    figure {
        padding: 1em;
        margin: 0 0.25em 0 0;

        img {
            width: 8em;
            height: auto;
        }
    }
    
    .info {
        justify-content: space-around;

        .title {
            padding: 1em;

            h4 {
                margin: 0;
                font-weight: 300;
                font-size: 1.2em;
            }
        }

        a {
            padding: 1em;
            @extend .link-underline;
            font-weight: 400;
        }

        span {
            padding: 1em;

            &.tick {
                color: green;
            }
        }
    }
}

.small-box {
    border: 1px solid $bcn-light-orange;
    padding: 1em;
    flex: 33%;
    margin: 1em;
    justify-content: space-between;
    align-items: center;

    > .title {
        h4 {
            margin: 0;
            font-weight: 400;
            font-size: 1.2em;
        }
    }

    a {
        @extend .link-underline;
    }
}
