.class-box {
    border: 1px solid $bcn-light-orange;
    padding: 1em;
    flex: 33%;
    margin: 1em;
    justify-content: space-between;
    align-items: center;

    > .title {
        h4 {
            margin: 0;
            font-weight: 400;
            font-size: 1.2em;
        }
    }

    a {
        @extend .link-underline;
    }
}
