.events {
	display: block;
	padding: 0;
	margin: 0;
}

.event {
	display: block;
	text-align: center;
	padding: 0 0.2em;

	border-radius: 4px;
	margin-bottom: 5px;

	background: #e4f2f2;
	text-decoration: none;
}

.event-name, .event-desc {
	width: 100%;
}

.event-desc {
	color: #666;
	text-decoration: none;	
}

.calendar-cell,
.calendar-heading-cell {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	flex-grow: 1;
	width: 14.28%;

	padding: 0 0.8em;
	overflow: hidden;
	list-style: none;
}

.calendar-cell {
	height: 180px;
}

.calendar-heading-cell {
	background: #2d353e;
	color: #fff;
	font-size: 14pt;
	border: none !important;
}

.calendar-heading-cell p {
	align-self: center;
}

.calendar-header {
	
}

.calendar-cell,
.calendar-header {
	border: 1px solid #f5f5f5;
}

.calendar-day {
	font-size: 14pt;
	font-weight: bold;
	align-self: flex-end;
}

.current-day {
	/* hmm */
	border-bottom: 2.5px solid #fc3d39;
}

/*
.current-day {
	background: #fc3d39;
	color: #fff;
	text-align: center;
	border-radius: 55%;
	padding: 0.8em;
	box-sizing: border-box;
	
	margin-left: 0.4em;
    margin-top: 0.4em;
}
*/

.calendar {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 3em 0;
	padding: 0;
	border: 1px solid #f5f5f5;
}

