#recent-activity {
	flex-direction: column;
	flex-grow: 1;
	padding: 0.5em;

	.status {
		align-items: center;
		justify-content: center;

		span {
			font-size: 1.2em;
			font-weight: 400;
		}
	}

	.activity {
		display: flex;
		flex-direction: column;

		background: #fff;
		padding: 0.75em;
		justify-content: space-between;
		border: 2px solid $border_color;
		margin: 0.5em;
		border-left: 4px solid $border_color;

		.info {
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
		}

		.action-name {
			font-weight: normal;
		}

		.content {
			padding: 0;
		}

		@include for-tablet-portrait-up {
			padding: 1em;
		}

		@mixin for-tablet-landscape-up {
			padding: 1.5em;
		}
	}

	.delete {
		border-left: 4px solid $error_red;
	}
	.update {
		border-left: 4px solid $neutral_blue;
	}
	.create {
		border-left: 4px solid $success_green;
	}
}
