#student-overview {
	flex-direction: column;
	flex-grow: 1;

	.sorting {
		justify-content: space-between;

		.sort-menu {
			padding: 0.1em 0.2em;
			color: #000;

			a {
				text-decoration: none;
				margin: 0 0.15em;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}

			span {
				white-space: nowrap;
			}

			.select {
				position: relative;
				display: flex;
				align-items: center;
		
				&:before {
					font-family: "fontello-beaconing";
					content: '\f107';
					position: absolute;
					right: 0;
					font-size: 1em;
					pointer-events: none;
					line-height: 0;
				}
		
				select {
					margin-left: 0.4em;
					color: #000;
					width: 100%;
					padding: 0.1em;
					padding-right: 0.8em;
					font-size: 0.8em;
					background: none;
					outline: none;
					border: none;
					border-bottom: 2px solid $border_color;
					-moz-appearance: none;
					-webkit-appearance: none;
					appearance: none;
			
					&:focus {
						box-shadow: 0 2px $border_color;
					}

					* {
						color: black;
					}
				}
			}

			a.active {
				text-decoration: underline;
			}
		}
	}

	.student-overview-card {
		padding: 0.5em !important;
		margin-bottom: 0.5em;
	}

	.student-section {
		flex-grow: 1;
		flex-direction: column;
		padding: 0.25em;

		.title {
			padding: 1.5em 0.25em;
			flex-grow: 1;
			text-align: left;

			h3 {
				font-weight: 400;
				font-size: 1.4em;
				margin: 0;
			}
		}
	}

	.students {
		flex-direction: column;
		margin: 0.5em;
		padding: 0;
			
		.student {
			border: 2px solid $border_color;
			background: #fff;
			padding: 0.75em 0;

			.student-profile-image {
				margin: 0.5em 0.5em 0.5em 0;
				align-items: center;
				justify-content: center;

				&:hover {
					cursor: pointer;
				}

				img {
					border-radius: 50%;
					padding: 0.25em;
					height: auto;
					width: 75%;
					min-width: 48px;
				}
			}

			.student-name {
				font-size: 14pt;
				margin: 0;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}

			.student-percentage {
				flex-direction: column;

				p {
					font-size: 13pt;
					padding: 0;
					margin: 0.25em 0;
				}
			}

			.progress-bar {
				border: 1px solid rgba(152, 152, 152, 0.2);
			    background: rgba(white, 0.1);
				//padding: 0.1em;
				div {
					justify-content: center;
					align-items: center;
					text-align: center;

					span {
						color: white;
						text-shadow: 0 0 1px rgba(88, 88, 88, 0.5);
						font-weight: 400;
					}
				}
			}
		}
	}
}
