.student-profile {
	.name {
		h2 {
			font-size: 1.4em;
			font-weight: 400;
			margin: 1em 0;
		}
	}

	.info {
		flex-direction: column;
	}

	figure {
		//display: flex;

		img {
			max-width: 15em;
			border: 2px solid $border_color;
		}
	}
}

#student-header {
	display: flex;
}

#student-overview-container {
	padding: 2em;

	&.status {
		justify-content: center;

		p {
			padding: 1em;
			font-size: 1.4em;
		}
	}
}

#assigned-plans-container {
	display: grid;
	grid-template-columns: 33% 33% 33%;

	padding: 2em;

	&.status {
		justify-content: center;

		p {
			padding: 1em;
			font-size: 1.4em;
		}
	}
}

.glp-assigned-box {
	margin: 0.5em 0.5em;
	border: 2px solid $border_color;

	> .title {
		justify-content: space-between;
		padding: 1em 1.5em;
		align-items: center;
		margin-bottom: 0.25em;
		background: $border_color;

		h3 {
			font-weight: 400;
			font-size: 1.25em;
			margin: 0.25em;
		}

		h4 {
			font-weight: 300;
			font-size: 1.15em;
			margin: 0 0.25em;
			color: $primary_font_colour_faded;
			
			a {
				font-weight: 400;
			}
		}
	}

	.content {
		padding: 1em 1.5em;
	}

	.toolbar {
		display: flex;
		justify-content: space-between;
		width: 100%;

		a.item {
			@extend .link-underline;
			padding: 0.1em;
			margin: 0 0.15em;
			font-weight: 400;
			//font-size: 0.9em;
		}
	}
}
