#student-analytics {
    padding: 1em;
}

.rw-question-container {
    display: block;
    padding: 5px;
}

.rw-question-set {
    display: flex;
    flex-direction: column;
}

.rw-box-answer {
    display: block;
}

.rw-box {
    display: block;   
    padding: 20px;
    width: 100%;
}

.rw-incorrect {
    background: #c60026;
}

.rw-correct {
    background: #4b893d;
}

.answer-list-box {
    display: block;
}

.student-analytics-title {
    display: block;
}

.mission-box {

}

.quest-box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.quest-box {
    margin: 0.25em;
    background: #f5f5f5;
    padding: 1em;   
    display: block;
}

.quest-box:first-child {
    width: 100%;
}

.quest-box:not(:first-child) {
    flex: 1;
}

.scenes-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 33% 33% 33%; // hm?!
}

.scene-box {
    
}