#active-plan-summary {
	flex-direction: column;
	flex-grow: 1;

	.status {
		align-items: center;
		justify-content: center;

		span {
			font-size: 1.2em;
			font-weight: 400;
		}
	}

	.plan {
		display: grid;
		grid-gap: 0.5em;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
		grid-template-areas:
			"info"
			"desc";
		padding: 0.75em;
		border-bottom: 1px solid rgba(#7c8ea0, 0.5);

		&:last-child {
			border-bottom: none;
		}

		@include for-tablet-portrait-up {
			grid-template-rows: 1fr;
			grid-template-columns: 6em 1fr;
			grid-template-areas: "info desc";
			padding: 1em;
		}

		@mixin for-tablet-landscape-up {
			padding: 1.5em;
		}

		a {
			font-weight: 400;
		}

		p {
			margin: 0;
		}

		.info {
			flex-grow: 1;
			grid-area: info;
		}

		.desc {
			flex-grow: 1;
			grid-area: desc;
		}
	}
}
