#active-plan-summary {
	flex-direction: column;
	flex-grow: 1;

	.status {
		align-items: center;
		justify-content: center;

		span {
			font-size: 1.2em;
			font-weight: 400;
		}
	}

	.plan {
		padding: 0.75em;
		justify-content: space-between;
		border-bottom: 1px solid rgba(#7c8ea0, 0.5);

		&:last-child {
			border-bottom: none;
		}

		.description {
			text-align: right;
		}

		@include for-tablet-portrait-up {
			padding: 1em;
		}

		@mixin for-tablet-landscape-up {
			padding: 1.5em;
		}

		a {
			margin-left: 0.4em;
			font-weight: 400;
		}

		p {
			margin: 0;
		}

		.info {
			display: inherit;
		}
	}
}
